<h1>
  Leagues
  <a [routerLink]="['/leagues', 0]" title="Create League">
    <clr-icon class="dg-cell-element" shape="plus-circle"></clr-icon>
  </a>
</h1>
<clr-datagrid #datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'leagueName'">League Name</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row *ngFor="let league of leagues">
    <clr-dg-cell>{{league.id}}</clr-dg-cell>
    <clr-dg-cell>{{league.leagueName}}</clr-dg-cell>
    <clr-dg-cell>
      <a [routerLink]="['/leagues', league.id]" title="Edit League">
        <clr-icon class="dg-cell-element" shape="pencil"></clr-icon>
      </a>&nbsp;
      <a [routerLink]="[]" (click)="confirmDelete(league)" title="Delete League">
        <clr-icon class="dg-cell-element" shape="trash"></clr-icon>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20" [clrDgTotalItems]="total">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Leagues per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{total}} leagues
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="confirmDeleteOpen">
  <h3 class="modal-title">Delete League</h3>
  <div class="modal-header">
    <button aria-label="Close" class="close" type="button">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
  <div class="modal-body">
    <p>Delete league: {{leagueToDelete?.id}} : {{leagueToDelete?.leagueName}}?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="confirmDeleteOpen=false;" type="button">Cancel</button>
    <button class="btn btn-primary" (click)="delete(leagueToDelete?.id)" type="button">Ok</button>
  </div>
</clr-modal>

