<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a href="javascript://" class="active nav-link nav-text">
        <span class="title"><clr-icon shape="user" size="24"></clr-icon> Employees App</span>
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink]="['employees']" routerLinkActive="active" class="nav-link nav-text">Employees</a>
      <a [routerLink]="['departments']" routerLinkActive="active" class="nav-link nav-text">Departments</a>
      <a [routerLink]="['companies']" routerLinkActive="active" class="nav-link nav-text">Companies</a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
<!--          <clr-icon shape="caret down"></clr-icon>-->
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="openNew($event, '/swagger-ui')" clrDropdownItem>Swagger UI</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
