<h1>
  Departments
  <a [routerLink]="['/departments', 0]" title="Create Department">
    <clr-icon class="dg-cell-element" shape="plus-circle"></clr-icon>
  </a>
</h1>
<clr-datagrid #datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'deptName'">Department Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'deptCode'">Department Code</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row *ngFor="let department of departments">
    <clr-dg-cell>{{department.id}}</clr-dg-cell>
    <clr-dg-cell>{{department.deptName}}</clr-dg-cell>
    <clr-dg-cell>{{department.deptCode}}</clr-dg-cell>
    <clr-dg-cell>
      <a [routerLink]="['/departments', department.id]" title="Edit Department">
        <clr-icon class="dg-cell-element" shape="pencil"></clr-icon>
      </a>&nbsp;
      <a [routerLink]="[]" (click)="confirmDelete(department)" title="Delete Department">
        <clr-icon class="dg-cell-element" shape="trash"></clr-icon>
      </a>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Departments per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{total}} department
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="confirmDeleteOpen">
  <h3 class="modal-title">Delete Department</h3>
  <div class="modal-header">
    <button aria-label="Close" class="close" type="button">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
  <div class="modal-body">
    <p>Delete department: {{deptToDelete?.id}} : {{deptToDelete?.deptCode}} {{deptToDelete?.deptName}}?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="confirmDeleteOpen=false;" type="button">Cancel</button>
    <button class="btn btn-primary" (click)="delete(deptToDelete?.id)" type="button">Ok</button>
  </div>
</clr-modal>
